<div class="row login-row">
	<div class="col-xs-3">
		<!--<= render 'genre_serch_form', genres: @genres %>-->
    </div>
    <div class="col-xs-9">
    	<div>
				<!--<= image_tag("top.png", class: "top_image") %>-->
				<div class="main-visual">
					<p class="main-visual-text">
					  <h2>About</h2>
						ながのCAKEは全国発送可能なケーキ屋さんです。<br>
						お子様からお年寄りの方までお召し上がりいただけるよう、<br>
						様々なバリエーションをご用意しております。<br>
						また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
						ぜひご注文ください。
					</p>
				</div>
			</div>
    	<div class="recommend">